<h1>Photo Gallery: Powered by YOU + s3 <3</h1>

<!-- upload form -->

<form action="/photos" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="photo_file">Photo File</label>
    <input type="file" class="form-control" name="photo[file]" id="photo_file">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>




<!-- photo gallery -->
